<div class="header">
	<div class="header_logo"><%= link_to image_tag("logo.png", width: '250'), page_index_path %></div>
	<div class="header_center"></div>
	<div class="header_right right">
		<ul class="upper_menu"><%=render "shared/upmenu"%></ul>
		<div class="contacts"></div>
	</div>
	<ul class="main_menu"><%=render "shared/menu"%></ul>
	<div class="currency"></div>
</div>
<li class="brand_line"><%= image_tag("brands-img.png", width: 200) %>
	<div class="dropdown">
		<div class="rasp"></div>
			<% collen = @brands.size / 4 %>
			<% pos = 0 %>
			<% cur_letter = nil %>
			<% for i in 1..4 %>
				<ul>
					<% if i == 4 %>
						<% enditer = @brands.size %>
					<% else %>
						<% enditer = collen*i %>
					<% end %>

					<% for index in pos ... enditer %>
						<% title_letter = @brands[index].name[0].capitalize.match(/[A-Z]/) ? @brands[index].name[0].capitalize : "#" %>
						<% if title_letter != cur_letter %>
							<% cur_letter = title_letter %>
							<li><h4><%= cur_letter %></h4></li>
						<% end %>
							<li><%= link_to "#{@brands[index].name_shown} (#{@brands[index].items.count})", brand_path(@brands[index]) %></li>
							<% pos += 1 %>
					<% end %>
				</ul>
			<% end %>
	</div>
</li>
	<form class="search_form right">
  	<input id="products_search" placeholder="Поиск товара"></input>
    <button type="submit" class="searchbtn right"></button>
	</form>
<div class="cls"></div>


