<div class="header">
		<div class="header_logo"><%= link_to image_tag("logo_v2.png"), "page/index" %></div>
		<div class="header_center"></div>
		<div class="header_right right">
<!-- 			<ul class="upper_menu">
				<li><a href="#"><img width="50" src="images/menu/key.png"/></a></li>
				<li><a href="#"><img width="50" src="images/menu/users.png"/></a></li>
				<li><a href="#"><img width="50" src="images/menu/shopping_bag.png"/></a></li>
				<li><a href="#"><img width="50" src="images/menu/question_balloon.png"/></a></li>
			<ul> -->
			<ul class="upper_menu">
				<li><%= link_to image_tag("key(2).png", :style => "width: 55px;"), "#" %></li>
				<li><%= link_to image_tag("user_f.png", :style => "width: 55px;"), "#" %></li>
				<li><%= link_to image_tag("shopping_basket.png", :style => "width: 55px;"), "#" %></li>
				<li><%= link_to image_tag("question_4.png", :style => "width: 55px;"), "#" %></li>
			<ul>
			<div class="contacts"></div>
		</div>
		<ul class="main_menu">
			<li><a href="#">О нас</a>
			<li><a href="#">Способы оплаты</a>
			<li><a href="#">Доставка</a>
			<li><a href="#">Контакты</a>
			<li><a href="#">Частые вопросы</a>
		</ul>
		<div class="currency"></div>
	</div>
	<div class="search_line">
		<input></input>
		<button>Искать</button>
		<a href="#">Актуальные предложения</a>
		<button class="right">Подписаться</button>
	</div>
	<div class="brand_line">
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">...</a>
	</div>
	<hr noshade="noshade" size="1"/>