<div class="bar left">
	<div class="filterheader"><h4>Фильтр</h4></div>
	<h5>Стиль</h5>
	<div class="multiselect">
		<% @styles.each do |style| %>
			<%= link_to "#{style.name_us}", style_path(style) %>
		<% end %>
	</div>
	<h5>Размер</h5>
	<div class="multiselect">
		<% @sizes.each do |s| %>
			<%= link_to "#{s.name_us}", size_path(s) %>
		<% end %>
	</div>
	<h5>Цена</h5>
	<div class="multiselect">
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
	</div>
	<h5>Ширина</h5>
	<div class="multiselect">
		<% @width.each do |w| %>
			<%= link_to "#{w.name_us}", width_path(w) %>
		<% end %>
	</div>
	<h5>Категория</h5>
	<div class="multiselect">
		<% @categories.each do |c| %>
			<%= link_to "#{c.name_us}", category_path(c) %>
		<% end %>
	</div>
	<h5>Цвет</h5>
	<div class="multiselect">
		<% @colors.each do |c| %>
			<%= link_to "#{c.name_us}", color_path(c) %>
		<% end %>
	</div>
	<h5>Материал</h5>
	<div class="multiselect">
		<% @materials.each do |m| %>
			<%= link_to "#{m.name_us}", material_path(m) %>
		<% end %>
	</div>
</div>