<li><%= link_to "О нас", "/about_us"%></li>
<li><%= link_to "Способы оплаты", "/#"%></li>
<li><%= link_to "Доставка", "/#"%></li>
<li><%= link_to "Контакты", "/#"%></li>
<li><%= link_to "Частые вопросы", "/#"%></li>
