<li><%= link_to image_tag("menu/about.png", height: '35', :mouseover => image_path("menu/about_h.png")), "/about" %></li>
<li><%= link_to image_tag("menu/oplata.png", height: '35', :mouseover => image_path("menu/oplata_h.png")), "/oplata" %></li>
<li><%= link_to image_tag("menu/dostavka.png", height: '35', :mouseover => image_path("menu/dostavka_h.png")), "/dostavka" %></li>
<li><%= link_to image_tag("menu/contacts.png", height: '35', :mouseover => image_path("menu/contacts_h.png")), "/contacts" %></li>
<li><%= link_to image_tag("menu/faq.png", height: '35', :mouseover => image_path("menu/faq_h.png")), "/faq" %></li>

