<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Интернет-магазин Garderob4ik</title>
	<link type="text/css" rel="stylesheet" media="all" href="style.css">
</head>
<body>
<div class="page">
	<%=render "shared/header"%>
	<div class="brand_line">
		<% @brands.each do |brand|  %>
			<%= link_to brand.brand_name.capitalize, brand_path(brand) %>
		<% end %>
	</div>
	<hr noshade="noshade" size="1"/>
	<%#=render "shared/header", :product => product%>
	<div class="main_banner margint5 left">
		<%= link_to image_tag("big_banner1.jpg"), "#" %>
	</div>
	<div class="right_banner margint35 right">
		<%= link_to image_tag("right_banner1.jpg"), "#" %>
	</div>
		<a class="more" href="/gard/all"><h4>More special offers</h4></a>
		<%#= link_to "More special offers", gard_all_path, :class => "more" %>
	</div>
	<div class="cls"></div>
	<div class="popular_brands  margint20 left">
		<div class="popular_brands_line marginb20">
			<%= link_to image_tag("brand_2.jpg"), "#" %>
			<%= link_to image_tag("brand_4.jpg"), "#" %>
			<%= link_to image_tag("brand_3.jpg"), "#" %>
			<%= link_to image_tag("brand_4.jpg"), "#" %>
			<%= link_to image_tag("brand_5.jpg"), "#" %>
			<%= link_to image_tag("brand_1.jpg"), "#" %>
		</div>
		<div class="popular_brands_line marginb20">
			<%= link_to image_tag("brand_5.jpg"), "#" %>
			<%= link_to image_tag("brand_1.jpg"), "#" %>
			<%= link_to image_tag("brand_3.jpg"), "#" %>
			<%= link_to image_tag("brand_2.jpg"), "#" %>
			<%= link_to image_tag("brand_4.jpg"), "#" %>
			<%= link_to image_tag("brand_3.jpg"), "#" %>
		</div>
		<div class="popular_brands_line marginb20">
			<%= link_to image_tag("brand_2.jpg"), "#" %>
			<%= link_to image_tag("brand_4.jpg"), "#" %>
			<%= link_to image_tag("brand_3.jpg"), "#" %>
			<%= link_to image_tag("brand_4.jpg"), "#" %>
			<%= link_to image_tag("brand_5.jpg"), "#" %>
			<%= link_to image_tag("brand_1.jpg"), "#" %>
		</div>
		<div class="popular_brands_line marginb20">
			<%= link_to image_tag("brand_5.jpg"), "#" %>
			<%= link_to image_tag("brand_1.jpg"), "#" %>
			<%= link_to image_tag("brand_3.jpg"), "#" %>
			<%= link_to image_tag("brand_2.jpg"), "#" %>
			<%= link_to image_tag("brand_4.jpg"), "#" %>
			<%= link_to image_tag("brand_3.jpg"), "#" %>
		</div>
	</div>
	<div class="right_banner social margint20 right">
		<%= image_tag ( "social.png" ) %>
	</div>
	<div class="cls"></div>
	<br>
	<br>
	<hr noshade="noshade" size="1"/>
	<%=render "shared/footer"%>
</div>
</body>
</html>