	<div class="main_banner margint5 left">
		<a href="#"><%= image_tag ( "big_banner1.jpg" ) %></a>
	</div>
	<div class="right_banner margint35 right">
		<a href="#"><%= image_tag ( "right_banner1.jpg" ) %></a>
		<a class="more" href="/gard/all"><h4>More special offers</h4></a>
	</div>
	<div class="cls"></div>
	<div class="popular_brands  margint20 left">
		<div class="popular_brands_line marginb20">
			<%= image_tag ( "brand_2.jpg" ) %>
			<%= image_tag ( "brand_4.jpg" ) %>
			<%= image_tag ( "brand_3.jpg" ) %>
			<%= image_tag ( "brand_4.jpg" ) %>
			<%= image_tag ( "brand_5.jpg" ) %>
			<%= image_tag ( "brand_1.jpg" ) %>
		</div>
		<div class="popular_brands_line marginb20">
			<%= image_tag ( "brand_4.jpg" ) %>
			<%= image_tag ( "brand_5.jpg" ) %>
			<%= image_tag ( "brand_2.jpg" ) %>
			<%= image_tag ( "brand_4.jpg" ) %>
			<%= image_tag ( "brand_3.jpg" ) %>
			<%= image_tag ( "brand_1.jpg" ) %>
		</div>
		<div class="popular_brands_line marginb20">
			<%= image_tag ( "brand_3.jpg" ) %>
			<%= image_tag ( "brand_2.jpg" ) %>
			<%= image_tag ( "brand_4.jpg" ) %>
			<%= image_tag ( "brand_5.jpg" ) %>
			<%= image_tag ( "brand_4.jpg" ) %>
			<%= image_tag ( "brand_1.jpg" ) %>
		</div>
		<div class="popular_brands_line marginb20">
			<%= image_tag ( "brand_4.jpg" ) %>
			<%= image_tag ( "brand_5.jpg" ) %>
			<%= image_tag ( "brand_2.jpg" ) %>
			<%= image_tag ( "brand_4.jpg" ) %>
			<%= image_tag ( "brand_3.jpg" ) %>
			<%= image_tag ( "brand_1.jpg" ) %>
		</div>
	</div>
	<div class="right_banner social margint20 right">
		<%= image_tag ( "social.png" ) %>
	</div>
	<div class="cls"></div>
	<br>
	<br>
	<hr noshade="noshade" size="1"/>
