<div class="clearfix">
  <div class="container mbl">
    <div class="box-header mbm"><h1>Категории обуви</h1></div>
      <div class="clearfix mam">
        <%#= link_to "Добавить", new_admin_category_path, :class=>"submit-button right"%>
      </div>
      <div class="mhm">
      <table class="data-table mbm">
        <thead>
          <tr>
            <td class="checkbox"><input type="checkbox"></td>
            <td>Категории</td>
            <td>Товаров</td>
            <td class="actions">Посл.Редакт.</td>
            <td class="actions">Действия</td>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="9">Показано <%=  @categories.count %> </td>
          </tr>
        </tfoot>
        <tbody>
          <% @categories.each do |category|%>
          <tr>
            <td><%= category.id %>.</td>
            <td><%= category.name_us %></td>
            <td><span class="muted">Товаров: <%= category.items.count%></span></td>
            <td><%= human_date_time(category.updated_at) || "-"%></td>
            <td>
            <%#=link_to visibility_button(category.active), visibility_category_brand_path(category), :class=>"visibility-button", :method => :post, :id=>"visibility_#{category.id}", :remote=>true %>
            <%=link_to 'Edit' , edit_admin_category_path(category.id), :class=>"action-button" %>
            <%=link_to 'Delete' , admin_category_path(category), :method=>:delete, :confirm=>"Вы уверены, что хотите удалить эту категорию из перечня?", :class=>"action-button"%>
            </td>
          </tr>
          <%end%>
          <%if @categories.empty?%>
            <tr>
              <td colspan="9"><p>Нет категорий</p></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>

