<div style="width:800px;  margin: auto;" >
	<center><h2><u>Женская обувь</u></h2></center>
	<% @shoes.each do |shoe| %>
	<div class="product">
		<%= image_tag ( image_path( shoe.image_path ) ) %>
		<span class="brandName"><%= shoe.brandname %></span>
		<span class="productName"><%= shoe.productname %></span>
		<span class="price"><%= shoe.price_ua.to_i %> грн.</span>
	</div>
	<% end %>

	<div class="apple_pagination" style="width:800px; float:left;">
		<%= will_paginate @shoes %>
	</div>
</div>

