<div style="width:800px;  margin: auto;" >
	<center>
		<h3><%= @item.brand.brand_name %>  <%= @item.productname %></h3>
		Код товара:&nbsp&nbsp<%= '%07d' % @item.id %>
		<br/>
		Цвет: <%= select_tag( :code, options_from_collection_for_select( @item.colors, "id", "color_name") )  %>
		<br/>
		Размеры: <%= select_tag( :code, options_from_collection_for_select( @item.sizes, "id", "size_value") )  %>
	</center>
	<!-- <span class="price"><%= @item.price_ua.to_i %> грн.</span> -->
	<br>
	<center>
		<%= image_tag( "/images/descriptions/#{@item.description.images[0].image_path}" ) %>
		<br>
		<br>
		<% @item.description.images.each do |i| %>
				<%= image_tag( "/images/descriptions/#{i.thumb_path}" ) %>
		<% end %>
	</center>
	<h3>Описание товара:</h3>
	<%= @item.description.description.html_safe %>
</div>

