
<div class="page">
	<div class="header"><h1>HEADER</h1>
	</div>
	<div class="main">
		<center>
			<h3><%= @item.brand.brand_name %>  <%= @item.productname %></h3>
			<p>Код товара:&nbsp&nbsp<%= '%07d' % @item.id %></p>

			<%= image_tag( "/images/descriptions/#{@item.description.images[0].image_path}" ) %>
		<div class="prodPhotos">
			<% @item.description.images.each do |i| %>
					<%= image_tag( "/images/descriptions/#{i.thumb_path}" ) %>
			<% end %>
		</div>
		</center>
		<div class="prodInfo">
			<h3>Описание товара:</h3>
			<%= @item.description.description.html_safe %>
		</div>
	</div>
	<div class="right_bar">
		<div class="brandimg">brand img</div>
		<div class="price"><p><%= @item.price_ua.to_i %> грн.</p></div>
		<div class="prop">
		<p>Цвет: <%= select_tag( :code, options_from_collection_for_select( @item.colors, "id", "color_name") )  %></p>
			<br/>
		<p>
			Размеры: <%= select_tag( :code, options_from_collection_for_select( @item.sizes, "id", "size_value") )  %></p>
		</div>
	</div>
</div>

