<div class="page">
	<div class="productStage">
		<hl class="title">
			<a class="pName"><%= @item.brand.name_shown %></a>
			<a class="pModel"><%= @item.productname %></a>
		</hl>
		<span id="sku" class="sku">Код товара:&nbsp&nbsp<%= '%07d' % @item.id %></span>
		<div class="displayImages">
			<div class="modelImages left">
				<% @item.description.images.each  do |photo|%>
            		<%=link_to image_tag("/images/descriptions/#{photo.thumb_path}"), "javascript:void(0);", :class=>"photo", :rel=>"{gallery: 'gal1', smallimage: './images/descriptions/#{photo.thumb_path}',largeimage: './images/descriptions/#{photo.image_path}'"%>
            	<%end%>
			</div>
			<div class="mainImage">
				<%= link_to image_tag( "/images/descriptions/#{@item.description.images[0].image_path}" ), "/images/descriptions/big_big.jpg", :class=>"jqzoom", :for=>"photo1" %>
			</div>
			<div class="colorImages right">
				<% @item.description.images.each  do |photo|%>
            		<%=link_to image_tag("/images/descriptions/#{photo.thumb_path}"), "javascript:void(0);", :class=>"photo", :rel=>"{gallery: 'gal1', smallimage: './images/descriptions/#{photo.thumb_path}',largeimage: './images/descriptions/#{photo.image_path}'"%>
            	<%end%>
			</div>
		</div>
	</div>
	<div class="bar prod right">
		<a class="bLogo" href="#">
			<img src="#" alt="Brand"></img>
		</a>
		<form id="addItem" class="">
			<input type="hidden" name="addToCart">
			<input type="hidden" value="7913331" name="productId">
			<ul class="saleInfo">
				<li class="percentOff">
					<span>Скидка <%= @item.discount %>%</span>
				</li>
				<li>
					<span class="oldPrice">Без скидки: <%= @item.msrp_ua.to_i %> грн.</span>
					<div class="newPrice"><%= @item.price_ua.to_i %> грн.</div>
				</li>
				<li class="colors">
					<label>Цвет:</label>
					<%= select_tag( :code, options_from_collection_for_select( @item.colors, "id", "color_name") )  %>
				</li>
				<li class="colors">
					<label>Размер:</label>
					<%= select_tag( :code, options_from_collection_for_select( @item.sizes, "id", "size_value") )  %>
				</li>
				<li id="transBtns">
				<button name="addToCart" type="submit" class="btn yellow">
					Добавить в корзину
				</button>
				</li>
			</ul>
		</form>
	</div>
	<div class="cls"></div>
	<div class="prodInfo">
		<h3>Описание товара:</h3>
		<div class="description">
			<%= @item.description.description.html_safe %>
		</div>
	</div>
	
	
</div>
<script type="text/javascript">

$(document).ready(function() {
	$('.jqzoom').jqzoom({
            zoomType: 'innerzoom',
            preloadImages: false,
            alwaysOn:false
        });
});


</script>