<!DOCTYPE html>
<html>
<head>
  <title>Интернет-магазин Garderob4ik</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page">
	<%=render "shared/header"%>
	<%= yield %>
	<div class="push"></div>
</div>
<div class="cls"></div>
<%=render "shared/footer"%>
</body>
</html>
